<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rafi</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">  
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <!-- <link rel="stylesheet" type="text/css" href="/css/videoPlayerSA.css"> -->
    
    <link rel="icon" type="image/x-icon" href="/resources/favicon.ico"/>

    <script src="/js/Objectid.js"></script>

    <link href="/css/jquery.galereya.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="css/jquery.galereya.ie.css">
    <![endif]-->

    <script src="/js/jquery.galereya.js"></script>
  
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 header">
        <div id="menu">
          <a href="https://play.google.com/store/apps/details?id=com.homage.app">
            <img class="" src="/resources/minisite/AppStoreIcon.png"/>
          </a>
          <a href="https://itunes.apple.com/us/app/homage/id851746600?l=iw&amp;ls=1&amp;mt=8">
            <img class="" src="/resources/minisite/PlayStoreIcon.png"/>
          </a>
        </div>

      </div>
    </div>
  </div>
</body>