<!DOCTYPE html>
<html lang="en">

<head>

    <title>Emu Console</title>
    <link rel="icon" href='/resources/emu/favicon.ico' type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="emu">

    <!-- BOOTSTRAP AND JQUERY -->
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">  
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/emu/emuconsole.css">


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>

<div id="content">
    <!-- Main Body -->
    <div class="intro-header">

        <div class="container-fluid">

            <div class="row">
                <!-- MENU -->
                <div class="col-sm-2 menu">
                    <div class="leftbackground">
                        <div class="header">
                            Packs
                        </div>
                        <div class="choice">
                            <button type="button" class="btn btn-default">Love</button>
                        </div>
                        <div class="choice">
                            <button type="button" class="btn btn-default">Surprise</button>
                        </div>
                        <div class="choice">
                            <button type="button" class="btn btn-default">Party</button>
                        </div>
                        <div class="choice">
                            <button type="button" class="btn btn-default">+ (add new)</button>
                        </div>
                        <div>
                        <h1>Upload New Algorithm Version</h1>

                        <!-- Upload form. Note enctype attribute! -->
                        <form action="/emuconsole/upload" method="POST" enctype="multipart/form-data">
                            <input type="file" name="file">
                            <input type="submit" value="Upload image">
                        </form>
                    </div>
                    </div>
                </div>
                <!-- DISPLAY AREA -->
                <div class="col-sm-10 display">
                    big screen
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="/js/emu/emuconsole.js"></script>

</body>

</html>
