<!DOCTYPE html>
<head>
	<script src="//www.google.com/jsapi"></script>
	<script src="/js/chartkick.js"></script>
</head>

<body>
	<%= pie_chart({"Football" => 10, "Basketball" => 5}) %>
	<%= pie_chart({"Football" => 90, "Basketball" => 10}) %>
</body>