<!DOCTYPE html>
<html lang="en">

<head>

    <title>The Emu Is Loose!</title>
    <link rel="icon" href='/resources/emu/favicon.ico' type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An automatic Selfie creator for ios video stickers">
    <meta name="keywords" content="Emu,emu,emoticon,emotion,emo,video,sticker,selfie,selfy,slefi,selfee,selfe,self,slefie,slefy,facebook,share,sharing,create,emuticon,messanger,messager,message">
    <meta name="author" content="emu">

    <!-- BOOTSTRAP AND JQUERY -->
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">  
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- LESS -->
    <link rel="stylesheet" type="text/css" href="/css/emu_landing_page.css">


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
        
       
    
<div id="header">
 <!-- Navigation -->
    <!-- <nav class="navbar navbar-default navbar-fixed-top topnav header" role="navigation"> -->
        <div class="container-fluid topnav header">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header text-center">
                <img class="img-responsive" src="/resources/emu/emuLogo.png" alt="">
            </div>
        </div>
        <!-- /.container -->
    <!-- </nav> -->
</div>

<div id="content">
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">

        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="intro-message">
                                
                                <h1> Emu Has </h1>
                                <h1> Broken Loose!! </h1>
                                <h3> A Personal Selfie Sticker Creator At The Speed Of An Ostrich </h3>
                                <h2>
                                    <a href="https://itunes.apple.com/app/id969789079"><img class="img-responsive" src="/resources/emu/apple-app-store-s.png" alt=""></a>
                                </h2>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 hidden-xs">

                            <input type="text" class="form-control" id="email_text_field" placeholder="Join Android Waiting List"></input>
                        </div>
                        <div class="col-sm-1 hidden-xs">
                            <a href="#" class="btn btn-default campaign-button" > <span class="network-name">Join</span></a>
                        </div>
                        <div class="col-sm-3 hidden-xs">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 hidden-xs zindexten">
                            <div class="intro-message bottom-row">
                                <h3 class="section-heading">Emu is a fun free keyboard app for iOS. <br>Selected as one of the first Facebook Messanger partners!</h3>
                            </div>
                        </div>
                        <div class="col-sm-2 hidden-xs">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 hidden-xs zindexten">
                    
                </div>
            </div>

            
        </div>
        <!-- /.container -->
        

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a visible-xs">

        <div class="container-fluid">
            <div class="row visible-xs text-center">
                <div class="visible-xs ">
                    <h2 class="section-heading description">Emu is a fun free keyboard app for iOS. <br>Selected as one of the first Facebook Messanger Partners!</h2>
                </div>
            </div>
            <div class="row visible-xs text-center">
                <div class="visible-xs col-xs-12 zindexten">
                    <a href="https://itunes.apple.com/app/id969789079"><img class="img-responsive center-block" src="/resources/emu/bigIphoneEmu.png" alt=""></a>
                </div>
            </div>
            <div class="row visible-xs text-center">
                <div class="visible-xs col-xs-8 zindexten">
                    <input type="text" class="form-control" id="email_text_field_mobile" placeholder="Join Android Waiting List"></input>
                </div>
                <div class="visible-xs col-xs-3 zindexten">
                    <a href="#" class="btn btn-default campaign-button" > <span class="network-name">Join</span></a>
                </div>
            </div>
            <div class="row visible-xs text-center">
                <div class="visible-xs col-xs-12 zindexten">
                    <h2>
                        <a href="https://www.homage.it"><img class="img-responsive center-block" src="/resources/emu/homageLogoWhite.png" alt=""></a>
                    </h2>
                </div>
            </div>
            <div class="row visible-xs text-center">
                <div class="visible-xs col-xs-12 zindexten">
                    <h2>
                        <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
                    </h2>
                </div>
            </div>
        </div>
        
    </div>
<!--         /.container -->
</div>
<!-- Page Footer -->
<div class="footer-lg hidden-xs">
    <div class="row ">
        <div class="col-sm-8 col-offset-1">
            <div class="hidden-xs col-sm-2 zindexten">
                <div class="section-heading">
                    <h2>
                        <a href="https://www.homage.it"><img src="/resources/emu/homageLogoWhite.png" alt=""></a>

                    </h2>
                </div>
            </div>
            <div class="hidden-xs col-sm-2 zindexten">
                <div class="section-heading">
                    <h2>
                        <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>

                    </h2>
                </div>
            </div>
            <div class="hidden-xs col-sm-4">
            </div>
        </div>
        <div class="col-sm-3">
            
        </div>
    </div>
    
</div>
    

<div class="footer-xs visible-xs"></div>

<div class="intro-message bigphone-container hidden-xs">
    <div class="trt">
        <a href="https://itunes.apple.com/app/id969789079"><img class="bigphone" src="/resources/emu/bigIphoneEmu.png" alt=""></a>
    </div>
</div>
<!--         /.Footer -->
</div>

    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="/js/emu_landing_page.js"></script>

</body>

</html>
