<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="Download-Settings" content="[&#39;css/&#39;, &#39;media/&#39;, &#39;/js&#39;, &#39;\.htaccess&#39;]">
	<title>Emu - Animated Selfie Stickers</title>
	<link media="all" rel="stylesheet" type="text/css" href="/emu-landing/css/all.css">
	<link media="all" rel="stylesheet" href="/emu-landing/css/mediaelement/mediaelementplayer.css">
	<link media="all" rel="stylesheet" href="/emu-landing/css/mediaelement/mejs-skins.css">
</head>
<body class="">
	<div id="wrapper">
		<header id="header">
			<span data-picture="" data-alt="image description">
				<span data-src="/emu-landing/img/img-01.jpg"><img alt="image description" src="/emu-landing/img/img-01.jpg"></span>
				<span data-src="/emu-landing/img/img-01-small.jpg" data-media="(max-width:767px)"></span>
				<span data-src="/emu-landing/img/img-01-small-2x.jpg" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)"></span>
				<noscript>
					&lt;img src="/emu-landing/img/img-01-small.jpg" width="320" height="87" alt="image description"&gt;
				</noscript>
			</span>
			<div class="header-block" style="">
				<div class="header-holder">
					<div class="logo">
						<a href="http://www.emu.im">
							<span data-picture="" data-alt="">
								<span data-src="/emu-landing/img/logo.png"><img alt="" src="/emu-landing/img/logo.png"></span>
								<span data-src="/emu-landing/img/logo.png" data-media="(max-width:767px)"></span>
								<span data-src="/emu-landing/img/logo.png" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)"></span>
								<noscript>
									&lt;img src="/emu-landing/img/logo.png" width="382" height="134" alt="" &gt;
								</noscript>
							</span> 
						</a>
					</div>
				</div>
			</div>
		</header>
		<main id="main" role="main">
			<div class="btn-holder">
                <div style="width: 410px; height: 216px; float: right; color:#393939;">

					<a href="/emu/ios?src=landing_page"><img class="appstore" src="/emu-landing/img/app-store.png" alt="image description"></a>

					<a href="/emu/android?src=landing_page"><img class="playstore" src="/emu-landing/img/play-store.png" alt="image description"></a>

				</div>
			</div>
			<div class="phone-holder">
				<div class="phone-block">
					<div class="video-holder">

						<video id="video" autoplay="autoplay" preload="none" loop="loop" Xsrc="/emu-landing/media/video1.mp4">
							<source type="video/webm" src="/emu-landing/media/video1.webm">
							<source type="video/mp4" src="/emu-landing/media/video1.mp4">
						</video>

					</div>
				</div>
			</div>
			<div class="mobile-content" style="text-align: center;">
			</div>
		</main>
	</div>
	
	<div class="loader-holder">
		<div class="loader">
			<img src="/emu-landing/img/ajax-loader.gif" alt="image description" width="32" height="32">
		</div>
	</div>
	
	<script type="text/javascript" src="/emu-landing/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/emu-landing/js/jquery.main.js"></script>
	<script type="text/javascript" src="/emu-landing/js/mediaelement-and-player.min.js"></script>

	<footer>
		<ul class="socials">
			<li class="tumblr"><a href="http://emu-gifs.tumblr.com">tumblr</a></li>
			<li class="facebook"><a href="https://www.facebook.com/EmuSelfieStickers">facebook</a></li>
			<li class="twitter"><a href="https://twitter.com/EMU_app">twitter</a></li>
		</ul>
	</footer>

</body>
</html>