<!DOCTYPE html>
<html lang="en">
<head>

	<title>Emu - Animated Selfie Stickers</title>
	<link rel="icon" href='/resources/emu/favicon.ico' type="image/x-icon">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="Download-Settings" content="[&#39;css/&#39;, &#39;media/&#39;, &#39;/js&#39;, &#39;\.htaccess&#39;]">
	<meta name="description" content="Generate your own set of personal video stickers!">
	<meta name="keywords" content="meme,emoticon,funny,gif,generator,create,maker,message,video,emoji,animation,green,effects,keyboard,Emu,emu,emoticon,emotion,emo,video,sticker,selfie,selfy,slefi,selfee,selfe,self,slefie,slefy,facebook,share,sharing,create,emuticon,messanger,messager,message">
	<link media="all" rel="stylesheet" type="text/css" href="/emu-landing/css/all.css">
	<link media="all" rel="stylesheet" href="/emu-landing/css/mediaelement/mediaelementplayer.css">
	<link media="all" rel="stylesheet" href="/emu-landing/css/mediaelement/mejs-skins.css">

	<!-- start Mixpanel -->
	<script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
		for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
			mixpanel.init("<%= @mixpanel_token  %>");
	</script>
	<!-- end Mixpanel -->
</head>
<body class="">
	<div id="wrapper">
		<header id="header">
			<span data-picture="" data-alt="image description">
				<span data-src="/emu-landing/img/img-01.jpg"><img alt="image description" src="/emu-landing/img/img-01.jpg"></span>
				<span data-src="/emu-landing/img/img-01-small.jpg" data-media="(max-width:767px)"></span>
				<span data-src="/emu-landing/img/img-01-small-2x.jpg" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)"></span>
				<noscript>
					&lt;img src="/emu-landing/img/img-01-small.jpg" width="320" height="87" alt="image description"&gt;
				</noscript>
			</span>
			<div class="header-block" style="">
				<div class="header-holder">
					<div class="logo">
						<a href="http://www.emu.im">
							<span data-picture="" data-alt="">
								<span data-src="/emu-landing/img/logo.png"><img alt="" src="/emu-landing/img/logo.png"></span>
								<span data-src="/emu-landing/img/logo.png" data-media="(max-width:767px)"></span>
								<span data-src="/emu-landing/img/logo.png" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)"></span>
								<noscript>
									&lt;img src="/emu-landing/img/logo.png" width="382" height="134" alt="" &gt;
								</noscript>
							</span> 
						</a>
					</div>
				</div>
			</div>
		</header>
		<main id="main" role="main">
			<div class="btn-holder">
                <div style="width: 410px; height: 216px; float: right; color:#393939;">

                	<img class="place-text" src="/emu-landing/img/place-yourslef-text.png">

					<a id="appstore-link" href="/emu/ios?ref=landing_page"><img class="appstore" src="/emu-landing/img/app-store.png" alt="image description"></a>

					<a id="playstore-link" href="/emu/android?ref=landing_page"><img class="playstore" src="/emu-landing/img/play-store.png" alt="image description"></a>

				</div>
			</div>
			<div class="phone-holder">
				<div class="phone-block">
					<div class="video-holder" style="background: url('/emu-landing/media/thumbnail.png'); background-size: cover">

						<video id="video" autoplay="autoplay" preload="none" loop="loop">
							<source type="video/webm" src="/emu-landing/media/video1.webm">
							<source type="video/mp4" src="/emu-landing/media/video1.mp4">
						</video>

					</div>
				</div>
			</div>
			<div class="mobile-content" style="text-align: center;">
			</div>
		</main>
	</div>
	
	<div class="loader-holder">
		<div class="loader">
			<img src="/emu-landing/img/ajax-loader.gif" alt="image description" width="32" height="32">
		</div>
	</div>
	
	<script type="text/javascript" src="/emu-landing/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/emu-landing/js/jquery.main.js"></script>
	<script type="text/javascript" src="/emu-landing/js/mediaelement-and-player.min.js"></script>
    <script type="text/javascript">

    	function getUrlParameter(sParam)
		{
		    var sPageURL = window.location.search.substring(1);
		    var sURLVariables = sPageURL.split('&');
		    for (var i = 0; i < sURLVariables.length; i++) 
		    {
		        var sParameterName = sURLVariables[i].split('=');
		        if (sParameterName[0] == sParam) 
		        {
		            return sParameterName[1];
		        }
		    }
		}    

		$(document).on("ready", function(){

			var ref = getUrlParameter('ref')
			if (!ref)
			{
    			ref = 'undefined';
    		}
    		mixpanel.track("Web:EmuLandingPage:View", { "Reference":ref });

			mixpanel.track_links("#appstore-link", "Web:EmuLandingPage:AppStoreLinkPressed", {"Reference":ref, "referrer": document.referrer});
			mixpanel.track_links("#playstore-link", "Web:EmuLandingPage:PlayStoreLinkPressed", {"Reference":ref, "referrer": document.referrer});
			mixpanel.track_links("#tumblr-link", "Web:EmuLandingPage:TumblrLinkPressed", {"Reference":ref, "referrer": document.referrer});
			mixpanel.track_links("#facebook-link", "Web:EmuLandingPage:FacebookLinkPressed", {"Reference":ref, "referrer": document.referrer});
 			mixpanel.track_links("#twitter-link", "Web:EmuLandingPage:TwitterLinkPressed", {"Reference":ref, "referrer": document.referrer});

     		$('#video').hide();

			var vid = document.getElementById("video");
			vid.onplay = function() {
			    $('#video').delay( 0 ).fadeIn( 400 );
			};

		});                                
	</script>

	<footer>
		<ul class="socials">
			<li class="tumblr"><a id="tumblr-link" href="http://emu-gifs.tumblr.com">tumblr</a></li>
			<li class="facebook"><a id="facebook-link" href="https://www.facebook.com/EmuSelfieStickers">facebook</a></li>
			<li class="twitter"><a id="twitter-link" href="https://twitter.com/EMU_app">twitter</a></li>
		</ul>
	</footer>

</body>
</html>