<!DOCTYPE html>
<html lang="en">
<head>
   	<title>Homage</title>

   	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
   	
	  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">  
  	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  	<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  	
  	<link rel="stylesheet" type="text/css" href="/css/videoPlayerSA.css">
	  
    <link rel="icon" type="image/x-icon" href="/resources/favicon.ico"/>

	  <script src="/js/Objectid.js"></script>

    <link href="css/jquery.galereya.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="css/jquery.galereya.ie.css">
    <![endif]-->

    <script src="js/jquery.galereya.js"></script>
	
</head>

<body>
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-sm-4 top left-side">
        <a href="http://homage.it/app"/>
          <img class="logo" src="http://homage.it/wp-content/themes/homage/images/homeLogo.png"></img>
        </a>        
      </div>

      <div class="col-lg-10 col-sm-8 visible-lg visible-md visible-sm hidden-xs top">
        <div id="menu">
          <a href="https://play.google.com/store/apps/details?id=com.homage.app">
            <img class="right-margin" src="http://homage.it/wp-content/themes/homage/images/googlePlay.png"/>
          </a>
          <a href="https://itunes.apple.com/us/app/homage/id851746600?l=iw&amp;ls=1&amp;mt=8">
            <img class="right-margin" src="http://homage.it/wp-content/themes/homage/images/appStore.png"/>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div id="gallery_container">

      </div>
    </div>
</div>

<script type="text/javascript">
  var skip = 0;
  var limit = 30;
  var gallery = null;
  var all_remakes = [];

  function fetch_remakes(skip)
  {
    var single_batch_remakes = [];

    $.get('/remakes', {skip: skip, limit: limit} , function(data, status, xhr){
      json_data = $.parseJSON(data)

      for (var i=0;i<json_data.length;i++) {
        remake = json_data[i];

        lowsrc      = remake["thumbnail"];
        fullsrc     = remake["thumbnail"];
        description = remake["_id"]["$oid"];
        category    = remake["story_name"];
        remake_id   = remake["_id"]["$oid"];

        info = {lowsrc: lowsrc, fullsrc: fullsrc, description: description, category: category, _id: remake_id}
        single_batch_remakes.push(info)
        all_remakes.push(info);
      }

      if (!gallery) {
        gallery = $('#gallery_container').galereya({
          spacing: 10,
          wave: false,
          noCategoryName: 'all stories',
          disableSliderOnClick: true,
          onCellClick: function(e) {
            var selectedCellIndex = gallery.getSelectedCell();
            console.log("selectedCellIndex: " + selectedCellIndex);
            remake = all_remakes[selectedCellIndex];
            remake_id = remake["_id"].toString();
            console.log("remake: " + remake_id)
            path = '/play/' + remake_id;
            location.href = path;
          },
          load: function(next) {
            var data = single_batch_remakes;
            next(data);
          },
        });
      } else {
        var data = single_batch_remakes;
        gallery.loadMore(data);
      }
    });
  }

  $(window).scroll(function(){
      if  ($(window).scrollTop() == $(document).height() - $(window).height()){
            fetch_remakes(skip);
            skip += limit;
      }
  }); 

  fetch_remakes(skip)
  skip += limit;
  
</script>
</body>