<!DOCTYPE html>
<head>
	<title>Homage</title>

	<link href="//vjs.zencdn.net/4.6/video-js.css" rel="stylesheet">
	<script src="//vjs.zencdn.net/4.6/video.js"></script>
	<style type="text/css">
  		.vjs-default-skin { color: #FF7D57; }
	</style>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<!-- <link rel="stylesheet" href="//bootswatch.com/united/bootstrap.min.css"> -->

	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

	<style type="text/css">
		html, body {
			height: 100%;
		}
		body {
			background-color:#f8f8f8;
		}
		nav {
			background-color: #ff7d5f !important;
		}
	</style>
	
</head>

<body>
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <a class="navbar-brand" href="http://www.homage.it"> <img src="https://s3.amazonaws.com/homageapp/Intro/Homage_Logo.png" height="24" width="117"> </a>
		    </div>

		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    	<ul class="nav navbar-nav navbar-right">
	        		<li><a href="http://signup.homage.it"><strong>Join Alpha</strong></a></li>
	        	</ul>
		    </div>
	    </div>

	    
	</nav>

	<div class="container">
		<h1>
			Welcome to Homage!
		</h1>

		<video id="video_1" class="video-js vjs-default-skin vjs-big-play-centered" 
			controls preload="auto" width="640" height="360"
			poster="http://d293iqusjtyr94.cloudfront.net/Intro/Homage_Intro_Thumbnail.jpg"
			data-setup='{"example_option":true}'>
			<source src="http://d293iqusjtyr94.cloudfront.net/Intro/Homage_Intro_Video.mp4" type='video/mp4' />
			<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
		</video>

	</div>
</body>