<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
    	<title>Emu - Animated Selfie Stickers</title>
        <link rel="stylesheet" type="text/css" href="/emu-shares/css/default.css">

        <!-- Mobile screens -->
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

        <!-- Facebook App -->
        <meta property="fb:app_id" content="410672082391445">

        <!-- Facebook Open graph meta data -->
        <meta property="og:image:type" content="image/gif">
        <meta property="og:type" content="video.other">
        <meta property="og:image" content="http://media.emu.im/55a22c5213ac4926e23a1db2.gif"> 
        <meta property="og:image:width" content="240">
        <meta property="og:image:height" content="240">
		<meta property="og:title" content="Emu - Animated Selfie Stickers" />
        <meta property="og:description" content="A gif shared from the Emu app." />
        <meta property="og:site_name" content="Emu">
        <meta property="og:url" content="http://media.emu.im/55a22c5213ac4926e23a1db2.gif">

        <!-- Twitter Meta Data -->
        <meta name="twitter:card"           content="player">
        <meta name="twitter:title"          content="Emu">
        <meta name="twitter:site"           content="@EMU_app">
        <meta name="twitter:image:src"      content="http://media.emu.im/55a22c5213ac4926e23a1db2.gif">
        <meta name="twitter:image"          content="http://media.emu.im/55a22c5213ac4926e23a1db2.gif">
        <meta name="twitter:domain"         content="giphy.com">
        <meta name="twitter:player:width"   content="240">
        <meta name="twitter:player:height"  content="240">


        <!-- JQuery -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <!-- Some behaviours -->
        <script>
        	$(document).ready(function() {
        		$("#gif")
    				.load(function() { 
        				$('#shares-container').fadeIn();
        				$("#gif").fadeIn();
    				})
    				.error(function() {
    					var gif = $("#gif");
    					gif.unbind("load");
		        		gif.attr("src", "http://media.emu.im/emu.gif");
		        		gif.fadeIn();
        				$('#shares-container').fadeOut();
    				});
        	});
        </script>

    </head>
    <body>
        <div id="header">
            <a href="http://app.emu.im">
                <img id="smalllogo" src="/emu-shares/img/emusmalllogo.png" />
            </a>
        </div>
        <div id="container">

    	   <!-- The shared emu -->
           <img id="gif" class="gif" src="http://media.emu.im/55a22c5213ac4926e23a1db2.gif" />

           <!-- Share options -->
           <div id="shares-container">
                <a class="share s-facebook" href="http://www.facebook.com/sharer/sharer.php?u=http://play.emu.im/gif/55a22c5213ac4926e23a1db2" target="_blank"></a>
                <a class="share s-twitter" href="http://twitter.com/share?url=http://media.emu.im/55a22c5213ac4926e23a1db2.gif" target="_blank"></a>
                <a class="share s-tumblr" href="http://www.tumblr.com/widgets/share/tool?canonicalUrl=http://media.emu.im/55a22c5213ac4926e23a1db2.gif" target="_blank"></a>
           </div>

        </div>
        <div id="footer">
            <a href="http://app.emu.im">
                <img src="/emu-shares/img/play-store.png" /><img src="/emu-shares/img/app-store.png" /><br />
                <span class="copyright">© HOMAGE LTD. 2015</span>
            </a>
        </div>
    </body>
</html>