/*html {
  overflow-y: scroll;
}*/

/*body {
  margin: 0;
  font-family: sans-serif;
}

header {
  width: 220px;
  margin: 10px;
  position: absolute;
  left: 0;
  top: 0;
}*/

#masonry-gallery-container {
  
}

/* items are not quite 1/3 wide */
.hmg-gallery-cell {
  width: 33.2%;
  float: left;
}

/* images cover up the gap */
.hmg-gallery-cell img {
  display: block;
  width: 100.5%;
}

/**** Transitions for Masonry ****/

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      -ms-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}