@font-face {
  font-family: "bryant-web-compressed";
  src: url("/resources/Bryant-MediumCompressed.otf") format("opentype");
}
@font-face {
  font-family: "proxima-nova";
  src: url("/resources/ProximaNova-Light.otf") format("opentype");
}
.tbs-container-fluid {
  height: 100%;
}
.tbs-row {
  height: 100%;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}
.tbs-col {
  height: 100%;
}
.main-font-label {
  font-size: 12px;
  font-family: "proxima-nova";
}
.bold-font-label {
  font-size: 12px;
  font-family: "bryant-web-compressed";
}
.fa {
  color: #ffffff;
}
.clickable-link {
  text-decoration: none;
  font-family: "proxima-nova";
  text-transform: uppercase;
  color: #707070;
  height: 100%;
  display: inline-block;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}
.clickable-link:hover,
.clickable-link:focus {
  color: #ffffff;
  text-decoration: none;
}
.hoverable-element:hover {
  color: #ff5f45 !important;
  text-decoration: none;
}
.hoverable-element:hover .span {
  color: #ff5f45 !important;
  text-decoration: none;
}
.hoverable-element:hover .fa {
  color: #ff5f45 !important;
}
/*+++++++++++++++++++++++++++ HEADER +++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#hmg-nav-bar {
  background-color: #000000;
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;
}
#hmg-nav-bar-collapse {
  border-top: 2px solid #363636;
}
#hmg-navbar-toggle-menu {
  background: url('/resources/minisite/MenuLinesHorizMobile.png') no-repeat;
  border: none;
  margin-top: 23px;
}
#hmg-header-logo {
  height: 68px;
  margin-left: 5px;
}
#hmg-logo-mobile {
  content: url("/resources/minisite/HomageLogoMobile.png");
}
#hmg-appstore-link {
  content: url("/resources/minisite/AppStoreIcon.png");
}
#hmg-playstore-link {
  content: url("/resources/minisite/PlayStoreIcon.png");
}
.header-button {
  font-size: 20px;
  color: #ff5f45 !important;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  padding-top: 20px !important;
  margin-left: 5px;
}
.header-button:hover {
  color: #ffffff !important;
}
#hmg-header-share {
  background: url("/resources/minisite/ShareRegular.png") no-repeat left center;
  padding-left: 22px !important;
}
#hmg-header-share:hover {
  background: url('/resources/minisite/ShareWhite.png') no-repeat left center;
}
#hmg-header-login {
  background: url("/resources/minisite/Login.png") no-repeat left center;
  padding-left: 25px !important;
}
#hmg-header-login:hover {
  background: url('/resources/minisite/LoginWhite.png') no-repeat left center;
}
#share-site-container {
  display: none;
  padding-top: 15px;
  padding-right: 14px;
}
.facebook_site_share {
  background: url('/resources/minisite/FacebookPressed.png') no-repeat left center;
}
.twitter_site_share {
  background: url('/resources/minisite/TwitterPressed.png') no-repeat left center;
}
.gplus_site_share {
  background: url('/resources/minisite/GPlusPressed.png') no-repeat left center;
}
.pinterest_site_share {
  background: url('/resources/minisite/PinterestPressed.png') no-repeat left center;
}
.email_site_share {
  background: url('/resources/minisite/EmailPressed.png') no-repeat left center;
}
.header-share-site-button {
  display: inline-block !important;
}
/*++++++++++++++++++++++++++++++++++++++++ HEADER END +++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++ FILTERS ++++++++++++++++++++++++++++++++++*/
.filters {
  background-color: #252525;
  margin-left: 0px;
  margin-right: 0px;
}
.filter-left {
  list-style-type: none;
  height: 100%;
  padding: 0px;
  margin-bottom: 0px;
}
.filter-right {
  height: 100%;
  text-align: right;
  list-style-type: none;
  margin-bottom: 0px;
}
.filter-label {
  display: inline-block;
  list-style-type: none;
  height: 100%;
}
.filter-left li:hover,
.filter-left li:focus {
  border-bottom: 2px solid #ff5f45;
}
.filter-left .clickable-link:hover,
.filter-left .clickable-link:focus,
.filter-left .clickable-link:active,
.filter-left .clickable-link.selected {
  color: #ff5f45;
}
.filter-right > .dropdown {
  min-width: 250px;
}
.filter-right > .dropdown > .dropdown-menu {
  background-color: #363636;
  border: none;
  width: 100%;
  margin: 0px;
}
.filter-right > .dropdown > .dropdown-menu > li > a {
  background-color: transparent;
  color: #707070;
  font-family: "proxima-nova";
  font-size: 14px;
}
.filter-right > .dropdown > .dropdown-menu > li > a:hover {
  color: #ffffff;
  font-size: 15px;
}
.filter-right > .open,
.filter-right > .open:hover,
.filter-right > .open:focus {
  background-color: #363636;
  color: #ffffff;
}
.campaign-stories-col {
  padding: 0px;
}
@media (max-width: 767px) {
  .filter-right,
  .filter-left {
    text-align: center;
  }
  .filter-right {
    background-color: #363636;
  }
}
.gallery-header {
  margin-top: 50px;
  margin-bottom: 150px;
}
.background_image {
  background-image: url("/resources/minisite/GirlsWithPhonelowres.jpg");
  background-size: 100%;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -10;
  top: 0;
  left: 0;
}
.campaign-info {
  height: 100%;
  float: right;
  text-align: center;
}
.campaign-logo {
  background: url('/resources/minisite/HomageBanner.png') no-repeat center;
  min-height: 130px;
  margin-bottom: 30px;
}
.campaign-button {
  border: 1px solid #ff5f45;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ff5f45;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: none;
  padding-bottom: 16px;
}
.campaign-button:hover,
.campaign-button:focus {
  text-decoration: none;
  color: #ffffff;
}
.campaign-video-container {
  float: left;
  position: relative;
}
.campaign-video-play-button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 35px;
  z-index: 10;
  text-align: center;
  width: 100%;
  font-size: 30px;
  padding-bottom: 10px;
}
@media (max-width: 767px) {
  .campaign-info {
    float: none;
    margin-right: 0px !important;
    margin-bottom: 40px;
  }
  .campaign-logo {
    background: url('/resources/minisite/HomageLogoBannerMobile.png') no-repeat center;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .gallery-header {
    margin-top: 0px;
    margin-bottom: 30px;
  }
}
.vjs-fullscreen {
  padding-top: 0px;
}
.vjs-default-skin {
  color: #cccccc;
}
.vjs-big-play-button {
  display: none !important;
}
.fluid-width-video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%!important;
  height: 100%!important;
}
.galereya-cell span {
  font-size: 14px;
}
.galereya-cell .circular-usr-thumbnail {
  height: 35px;
  width: 35px;
}
.galereya-cell .user-name {
  float: left;
  padding-left: 6px;
  padding-top: 7px;
}
.galereya-cell .galereya-cell-desc-title .like,
.galereya-cell .galereya-cell-desc-title .view,
.galereya-cell .galereya-cell-desc-title .share {
  float: right;
  padding-left: 5px;
  margin-top: 7px;
}
.galereya-cell .galereya-cell-desc-text .like {
  float: left;
}
.galereya-cell .galereya-cell-desc-text .flag {
  float: right;
}
.footer {
  background-color: #000000;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 200000000000;
}
.footer-right,
.footer-left {
  height: 100%;
}
.footer-right {
  text-align: right;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-left {
  text-align: left;
  padding-bottom: 0px;
}
#hmg-footer-logo {
  content: url('/resources/minisite/HomageLogoFooter.png');
}
.hmg-social-link {
  margin-right: 15px;
}
.footer-label {
  display: inline-block;
  list-style-type: none;
  height: 100%;
}
.general-purpose-overlay-container {
  padding-top: 6px;
  float: right;
}
.general-purpose-overlay-container .general-overlay-label {
  font-size: 16px;
  cursor: default;
  color: #ffffff;
}
.close-button {
  background: url('/resources/minisite/XClose.png') no-repeat left center;
  float: right;
  height: 15px;
  width: 15px;
  margin-top: 30px;
  margin-right: 40px;
}
.remake-header {
  height: 60px;
}
.user-container {
  height: inherit;
}
.user-container .close-button {
  margin-top: 17px;
  margin-right: 8px;
  cursor: pointer;
}
.user-thumbnail-container {
  float: left;
  height: 100%;
  margin-top: 2px;
}
.user-info-container {
  float: left;
  position: relative;
  height: inherit;
  min-width: 180px;
  padding-left: 10px;
}
.user-info-container .user-name-label {
  font-size: 20px;
  color: #ffffff;
  padding-top: 7px;
}
.user-info-container .more-from-button {
  top: 50%;
  color: #707070;
  font-size: 14px;
}
.user-thumbnail {
  content: url('/resources/minisite/anonymous_user.jpeg') no-repeat left center;
  height: 60px;
  width: 60px;
}
.circular-usr-thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url('/resources/minisite/anonymous_user.jpeg') no-repeat;
  background-size: contain;
  border: 2px solid #ff5f45;
}
.mobile-social-counters-row {
  height: 40px;
  margin-top: 10px;
}
.mobile-social-counters-column {
  width: 100%;
  border-bottom: 2px solid #363636;
}
.general-mobile-overlay-container {
  width: 100%;
  text-align: center;
}
.general-mobile-overlay-container .like {
  float: left;
}
.general-mobile-overlay-container .share {
  float: right;
}
.remake-actions {
  height: 40px;
  margin-top: 10px;
  border-bottom: 2px solid #363636;
}
.remake-actions .like {
  margin-right: 15px;
  min-width: 60px;
  text-align: left;
}
@media (max-width: 767px) {
  .remake-actions .like {
    margin-right: 0px;
  }
}
@media (min-width: 767px) {
  .remake-actions .make-your-own {
    float: left;
    margin-right: 10px;
  }
}
@media (min-width: 767px) {
  .remake-actions .more-from {
    float: left;
    margin-right: 15px;
  }
}
.remake-actions .flag {
  float: right;
}
.remake-social-bar {
  height: 40px;
  margin-top: 10px;
}
.remake-social-bar .tbs-col {
  text-align: center;
}
.remake-social-bar .social-action-container {
  float: left;
}
.remake-social-bar .social-action-container .main-font-label {
  margin-right: 10px;
  color: #ffffff;
  font-size: 16px;
}
@media (max-width: 767px) {
  .remake-social-bar .social-action-container {
    float: none;
  }
}
.videocontent {
  width: 100%;
  max-width: 640px;
  margin: 0px auto;
}
.video-js {
  padding-top: 56.25%;
}
.vjs-fullscreen {
  padding-top: 0px;
}
.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20000000000;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
  cursor: pointer;
  overflow-y: auto;
}
.movie-finished-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: none;
}
.movie-finished-text {
  position: absolute;
  top: 20%;
  padding-bottom: 15px;
  border-bottom: 2px solid #363636;
  width: 70%;
  text-align: center;
  margin-right: 15%;
  margin-left: 15%;
}
.movie-finished-text .subject {
  font-size: 20px;
}
.movie-finished-text .content {
  font-size: 18px;
}
.movie-finished-actions {
  position: absolute;
  top: 40%;
  width: 70%;
  text-align: center;
  margin-right: 15%;
  margin-left: 15%;
}
.movie-finished-actions .social-action-container .fa {
  font-size: 16px;
  padding-left: 5px;
}
.app-icons-container {
  position: absolute;
  top: 60%;
  width: 70%;
  text-align: center;
  margin-right: 15%;
  margin-left: 15%;
}
.app-icons-container .main-font-label {
  padding-bottom: 10px;
}
.app-icons-container .app-icon {
  padding-left: 10px;
  padding-right: 10px;
}
