@font-face {
	font-family: 'adelle_sansregular';
	src: url('../fonts/adellesansbasic-regular-webfont.eot');
	src: url('../fonts/adellesansbasic-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/adellesansbasic-regular-webfont.woff') format('woff'),
		 url('../fonts/adellesansbasic-regular-webfont.ttf') format('truetype'),
		 url('../fonts/adellesansbasic-regular-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'adelle_sanslight';
	src: url('../fonts/adellesans-light-webfont.eot');
	src: url('../fonts/adellesans-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/adellesans-light-webfont.woff') format('woff'),
		 url('../fonts/adellesans-light-webfont.ttf') format('truetype'),
		 url('../fonts/adellesans-light-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
html {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
*, *:before, *:after {
	-moz-box-sizing:inherit;
	-webkit-box-sizing:inherit;
	box-sizing:inherit;
}
* {max-height: 100000px;}
body {
	margin:0;
	color:#6e6b22;
	font:26px/35px 'adelle_sansregular', Arial, Helvetica, sans-serif;
	background:#fff;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:none;
	min-width:320px;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {display: block;}
img {
	border-style:none;
	vertical-align:top;
	max-width:100%;
}
a {
	text-decoration:none;
	color:#6e6b22;
	outline:none;
}
a:hover {color:#969572;}
input,
textarea,
select {
	font:18px/25px 'adelle_sansregular', Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
	outline:none;
}
.jcf-select {
	display: inline-block;
	vertical-align: top;
	position: relative;
	background: #fff;
	border-radius:3px;
	margin: 0;
	min-width: 218px;
	height: 38px;
}
textarea {
	overflow: auto;
	resize: vertical;
	vertical-align: top;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	padding:0;
	border:0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer; 
	*overflow: visible; 
}
input[type="search"] {-webkit-appearance: none;}
input[type="search"]::-webkit-search-cancel-button {-webkit-appearance: none;}
input[type="search"]::-webkit-search-decoration {display:none;}
q {quotes: none;}
q:before,
q:after {
	content: '';
	content: none;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p {margin: 0 0 9px;}
.loader-holder{
	display:none;
	position:fixed;
	z-index:999;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#fff;
}
.loading .loader-holder{display:block;}
.loader-holder .loader{
	position:absolute;
	left:50%;
	top:50%;
	width:32px;
	height:32px;
	margin:-16px 0 0 -16px;
}
.loader-holder .loader img{vertical-align:top;}
#wrapper {overflow:hidden;}
#header {
	position:relative;
	text-align:center;
}
#header > span img {
	width:100%;
	height:auto;
	min-height:350px;
	display:inline-block;
	vertical-align:top;
	margin:0 -500px;
	max-width:none;
}
#header .header-block {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
#header .header-holder {
	max-width:1620px;
	margin:0 auto;
}
#header .header-holder:after {
	content:"";
	display:block;
	clear:both;
}
.socials {
	list-style:none;
	margin:-10px 0  0;
	padding:25px 0 0 22px;
	float:right;
	background-size:100% auto;
	width:210px;
	height:103px;
}
.socials li {
	float:left;
	margin:0 13px 0 0;
}
.socials li a {
	width:42px;
	height:42px;
	display:block;
	text-indent:-9999px;
	overflow:hidden;
}
.socials .tumblr a {
	background: url(../img/icon-tumblr.png) no-repeat;
	background-size:100% auto;
}
.socials .facebook a {
	background: url(../img/icon-facebook.png) no-repeat;
	background-size:100% auto;
}
.socials .twitter a {
	background: url(../img/icon-twitter.png) no-repeat;
	background-size:100% auto;
}
.socials li a:hover {opacity:0.8;}
.logo{
	position:absolute;
	right:50%;
	bottom:30px;
	width:306px;
	height:245px;
	margin:0px 0px 0 0px;
	margin-right: 110px;
}
.logo a {
	width:100%;
	height:auto;
}
.logo img{
	display:block;
	width:100%;
	height:auto;
}
#main {position:relative;}
.btn-holder {
	float:left;
	width:50%;
	padding:55px 53px 0;
	margin:0 0 20px;
}
.btn {

	padding:25px 25px 19px 19px;
    margin-Left: -13px;
	width:280px;
	height:110px;
}
.btn:hover {opacity:0.8;}
.btn img {
	width:100%;
	height:auto;
}
.phone-holder {
	float:right;
	width:50%;
	margin:0 0 20px;
}
.phone-holder:after {
	content:"";
	display:block;
	clear:both;
}
.phone-block {
	float:left;
	width:412px;
	height:775px;
	background: url(../img/img-phone.png) no-repeat;
	background-size:100% auto;
	margin:-300px 0 0 -12px;
	padding:107px 0 0 65px;
}
.phone-block .video-holder {
	width:316px;
	height:562px;
	margin-left: 6px;
	margin-top: -3px;
}

.appstore
{
	width:350px; 
	margin-top:80px; 
	margin-left:30px;
	
}
.playstore
{
	width:350px; 
	margin-top:-80px; 
	margin-left:30px;
	
}

.phone-block .video-holder > div {
	width:100% !important;
	/* height:auto !important; */
}
.mobile-content {
	display:none;
	padding:12px 0 0;
}
@media only screen and (max-width:1708px) {
	#header > span img {
		height:350px;
		min-height:0;
		width:auto;
	}
}
@media only screen and (max-height:860px) {
	#header {
		height:380px;
		overflow:hidden;
	}
	#header > span img {
		width:100%;
		height:auto;
		margin:0;
	}
}
@media only screen and (max-height:860px) and (max-width:1365px) {
	#header > span img {
		height:380px;
		min-height:0;
		width:auto;
	}
}
@media only screen and (max-width:959px) {
	#header > span img {height:380px;}
}
@media only screen and (max-width:959px), (max-height:860px) {
	body {
		font-size:21px;
		line-height:28px;
	}
	.socials {
		width:168px;
		height:83px;
		padding:20px 0 0 18px;
		margin-top:-8px;
	}
	.socials li {margin-right:10px;}
	.socials li a {
		width:33px;
		height:33px;
	}
	.logo {
		width:306px;
		height:245px;
		bottom:75px;
		margin-right:9px;
	}
	.phone-block {
		width:330px;
		height:620px;
		margin:-280px 0 0 -10px;
		padding:86px 0 0 52px;
	}
	.phone-block .video-holder {
		width:255px;
		height:453px;
		margin-left: 4px;
		margin-top: -5px;
	}
	
	.appstore
	{
	width:350px; 
	margin-top:0px; 
	margin-left:90px;
	
	}
	
	.playstore
	{
	width:350px; 
	margin-top:-90px; 
	margin-left:90px;
	
	}
		
	.logo 
	{
		width:306px;
		height:245px;
		bottom:25px;
		margin-right:40px;
	}
	
	.btn-holder {padding:44px 43px;}
	.btn {
		padding:20px 20px 16px 16px;
		width:224px;
		height:88px;
	}
}
@media only screen and (max-width:767px){
	.loader-holder {
		display: none !important; 
	}
	body {
		font-size:15px;
		line-height:19px;
		background:#0fb4e3;
		color:#fff;
	}
	#header {
		height:87px;
		overflow:hidden;
	}
	#header > span img {
		width:100%;
		height:auto;
		margin:0;
	}
	.socials,
	.btn-holder,
	.phone-holder {display:none;}
	.logo {
		width:227px;
		height:66px;
		margin:0 -113px 0 0;
		bottom:auto;
		top:0;
	}
	.mobile-content {display:block;}
}
@media only screen and (max-width: 479px) {
	.jcf-select {max-width:266px;}

}
@media (max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (-o-min-device-pixel-ratio:3/2), (max-width:767px) and (min-resolution:144dpi){
	

	
}