html{
    height:100%;/* make sure it is at least as tall as the viewport */
}
body{	
    position: relative;
    min-height: 100%;
    top: 0px;
}
.leftbackground{
	background-color: #f1f1f1;
	border:2px solid #000;
}
.header {
	border-top:2px solid #000;
	border-bottom:2px solid #000;
}
.pack{
	padding-left:10px;
	padding-bottom: 3px;
}
.menu {
}
.display {
	padding:10px;
}

.comparelabel{
	color: #FF00FF;
}